body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: $main-bg-color;
  color: #4d4d4d;
}

a,
button {
  cursor: pointer !important;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.left {
  float:left;
}

.right {
  float:right;
}
#app-container {
  width: 70%;
  margin:0 auto;
}

ul.unstyled {
  list-style: none;
  padding-left: 0;
}